
[*]

# Standard properties
end_of_line=native
insert_final_newline=true

indent_style=space
indent_size=4
tab_width=4

# Microsoft .NET properties
csharp_indent_braces=false
csharp_indent_switch_labels=true
csharp_new_line_before_catch=true
csharp_new_line_before_else=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_object_initializers=true
csharp_new_line_before_open_brace=all
csharp_new_line_between_query_expression_clauses=true
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_preserve_single_line_blocks=true
csharp_space_after_cast=false
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_comma=true
csharp_space_after_dot=false
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_after_semicolon_in_for_statement=true
csharp_space_around_binary_operators=before_and_after
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_comma=false
csharp_space_before_dot=false
csharp_space_before_open_square_brackets=false
csharp_space_before_semicolon_in_for_statement=false
csharp_space_between_empty_square_brackets=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_between_square_brackets=false
csharp_style_namespace_declarations = file_scoped
dotnet_separate_import_directive_groups=false
dotnet_sort_system_directives_first=true

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_align_tuple_components=true
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_after_multiline_statements=1
resharper_blank_lines_around_single_line_type=0
resharper_blank_lines_before_block_statements=1
resharper_blank_lines_before_multiline_statements=1
resharper_blank_lines_inside_namespace=1
resharper_csharp_align_multiline_parameter=true
resharper_csharp_align_multiple_declaration=true
resharper_csharp_empty_block_style=together_same_line
resharper_csharp_insert_final_newline=true
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_max_line_length=100
resharper_csharp_stick_comment=false
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_enforce_line_ending_style=true
resharper_html_insert_final_newline=true
resharper_indent_inside_namespace=false
resharper_indent_preprocessor_other=usual_indent
resharper_indent_preprocessor_region=no_indent
resharper_int_align_assignments=true
resharper_int_align_comments=true
resharper_int_align_invocations=true
resharper_int_align_switch_expressions=true
resharper_int_align_switch_sections=true
resharper_int_align_variables=true
resharper_js_insert_final_newline=true
resharper_keep_existing_declaration_parens_arrangement=false
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_invocation_parens_arrangement=false
resharper_keep_existing_switch_expression_arrangement=false
resharper_max_enum_members_on_line=10
resharper_max_formal_parameters_on_line=4
resharper_outdent_binary_ops=true
resharper_outdent_commas=true
resharper_place_expr_accessor_on_single_line=true
resharper_place_expr_method_on_single_line=true
resharper_place_expr_property_on_single_line=true
resharper_place_field_attribute_on_same_line=if_owner_is_single_line
resharper_place_linq_into_on_new_line=false
resharper_place_simple_case_statement_on_same_line=if_owner_is_single_line
resharper_place_simple_embedded_statement_on_same_line=false
resharper_place_simple_enum_on_single_line=true
resharper_quote_style=singlequoted
resharper_show_autodetect_configure_formatting_tip=false
resharper_space_between_attribute_sections=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_wrap_before_first_type_parameter_constraint=true
resharper_wrap_before_invocation_rpar=true
resharper_wrap_enum_declaration=chop_if_long
resharper_xmldoc_attribute_indent=align_by_first_attribute
resharper_xmldoc_blank_line_after_pi=false
resharper_xmldoc_indent_size=2
resharper_xmldoc_max_line_length=100
resharper_xmldoc_tab_width=2
resharper_xml_blank_line_after_pi=false
resharper_xml_indent_size=2
resharper_xml_insert_final_newline=true
resharper_xml_max_blank_lines_between_tags=1
resharper_xml_max_line_length=100
resharper_xml_pi_attribute_style=on_single_line
resharper_xml_tab_width=2

[*.{appxmanifest,axaml,axml,build,config,csproj,css,dbml,discomap,dtd,htm,html,js,json,jsproj,jsx,lsproj,njsproj,nuspec,paml,proj,props,razor,resjson,resw,resx,StyleCop,targets,tasks,ts,tsx,vbproj,xaml,xamlx,xml,xoml,xsd,yaml,yml}]
indent_style=space
indent_size=2
tab_width=2
