<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NuixUseDongle" value="true"/>
    <add key="NuixExeConsolePath" value="C:\Program Files\Nuix\Nuix 8.2\nuix_console.exe"/>
    <add key="NuixVersion" value="8.2"/>
    <add key="NuixFeatures" value="ANALYSIS,CASE_CREATION,EXPORT_ITEMS,METADATA_IMPORT,OCR_PROCESSING,PRODUCTION_SET"/>
  </appSettings>
</configuration>